body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.auth-form {
    display: none; /* Initially hide both login and register forms */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.auth-form h2 {
    margin-bottom: 10px;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.auth-form button {
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #45a049;
}

.messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-message {
    display: flex;
    margin-top: 10px;
}

#message-input {
    flex: 1;
    padding: 5px;
}

#send-message-button {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}
