<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unknown Messanger</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="shortcut icon" href="/img/question_mark.png" type="image/x-icon">
</head>
<body>
    
    <div class="container">
        
        <div class="chat">
            
            <div class="send">
                    <input type="text" class="input">
                <div class="send_btn"><img src="/img/send_btn.png" alt=""></div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>