<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Messanger Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1 class="welcome">Welcome To Alex Messenger! Please log in or sign up if you don't yet have an account!</h1>
    <form class="reg-form" action="reg" method="post">
        <input name="login" type="text" class="login" placeholder="Username">
        <input name="password" type="text" class="password" placeholder="Password">
        <button class="btn">Register</button>
    </form>
    <form class="login-form" action="login" method="post">
        <input name="login" type="text" class="login" placeholder="Username">
        <input  name="password"  type="text" class="password" placeholder="Password">
        <button class="btn">Login</button>
    </form>
</body>
</html>